Source: openpanel-mod-user
Section: misc
Priority: optional
Maintainer: OpenPanel/Panel6 packager <packages@panelsix.com>
Build-Depends: debhelper (>= 5), openpanel-mkmodulexml, openpanel-devel, imagemagick
Standards-Version: 3.7.2

Package: openpanel-mod-user
Architecture: any
Depends: openpanel-core (>= 0.8.3)
Description: User management module
 Openpanel user management module
