#!/bin/sh -e

# This file is part of OpenPanel - The Open Source Control Panel
# OpenPanel is free software: you can redistribute it and/or modify it 
# under the terms of the GNU General Public License as published by the Free 
# Software Foundation, using version 3 of the License.
#
# Please note that use of the OpenPanel trademark may be subject to additional 
# restrictions. For more information, please visit the Legal Information 
# section of the OpenPanel website on http://www.openpanel.com/

. /usr/share/debconf/confmodule

# only ask this question on fresh installs, during "reconfiguration" and when 
# not upgrading from an existing 5.0 installation.
# there is also an additional check for empty root passwords in the
# postinst script when the tools are available for us to use.
if [ "$1" = "configure" ] || [ "$1" = "reconfigure" ]; then
  while :; do
    db_set openpanel-mod-user/root_password "" 
    db_input medium openpanel-mod-user/root_password || true
    db_go
    db_get openpanel-mod-user/root_password
    
    # if password is left empty, we won't set the password. (reasonable default)
    if [ -z "$RET" ]; then
    	break
    fi

	# if password is too short, we start over
    if [ ${#RET} -lt 4 ]; then
	    db_input critical openpanel-mod-user/password_too_short
		db_fset openpanel-mod-user/root_password seen false
		continue;
    fi
    
    # ask for password confirmation
    ROOT_PW="$RET"
    db_input medium openpanel-mod-user/root_password_again || true
    db_go
    db_get openpanel-mod-user/root_password_again
        
    if [ "$RET" = "$ROOT_PW" -a ${#RET} -gt 3 ]; then
      ROOT_PW=''
	    db_set openpanel-mod-user/root_password_again ""
      break
    fi
    
    db_fset openpanel-mod-user/password_mismatch seen false
    db_input critical openpanel-mod-user/password_mismatch
    db_go
  done
fi
